[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/ariel_mn/Bin/Crypto/OpenBrowser/config.png
Exec=bash /home/ariel_mn/Bin/Crypto/OpenBrowser/Config.sh
Name=Config Browser
